@page "/list"

<div class="title-background">
    <h1 class="title-text">社區照護系統</h1>
</div>
<br />
<h1 class="section-title">病患清單</h1>
<br />

<div style="text-align: center;">
    <input type="text" @bind="searchQuery" placeholder="請輸入身分證、姓名或病例號查詢" @onkeydown="HandleKeyPress" style="width: 300px;" />
    <button @onclick="Search" class="s">搜尋</button>
</div>
<br />
<div>
    <center>
        <InputSelect id="Gender" @bind-Value="selectedOption">
            <option>未結案資料</option>
            <option>全部資料</option>
            <option>已結案資料</option>
        </InputSelect>
    </center>
</div>


<div style="margin-bottom: 10px;"></div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="background-color: #999393; color: white; ">身分證</th>
            <th style="background-color: #999393; color: white; ">姓名</th>
            <th style="background-color: #999393; color: white; ">病例號</th>
            <th style="background-color: #999393; color: white; ">手機號碼</th>
            <th style="background-color: #999393; color: white; ">地址</th>
            <th style="background-color: #999393; color: white; ">家人</th>
            <th style="background-color: #999393; color: white; "> </th>
            <th style="background-color: #999393; color: white; "> </th>
            <th style="background-color: #999393; color: white; "> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in filteredPatients)
        {
            <tr>
                <td>@patient.Id</td>
                <td>@patient.Name</td>
                <td>@patient.CaseNumber</td>
                <td>@patient.Phone</td>
                <td><a href="@patient.GoogleMapLink" target="_blank">@patient.Address</a></td>
                <td>@patient.FamilyMember</td>
                <td>
                    <button @onclick="NavigateToOtherPage1" class="btnnn">編輯</button>
                </td>
                <td>
                    <button @onclick="() => TogglePopup(patient.CurrentPatientNameAndNumber)" class="btnnn">檢查紀錄</button>
                </td>
                <td>
                    <button @onclick="() => TogglePopup2(patient.CurrentPatientNameAndNumber2)" class="btnnn">評值</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<label>未完成個案</label>；<lable style="color:red;">已結案個案</lable>
<div style="text-align: center;">
    <button @onclick="NavigateToHomePage" class="abc">回首頁</button>
    <button @onclick="AddFile" class="abc">新增資料</button>
</div>

<DropDownMenu ShowPopup="@showPopup" OnClosePopup="ClosePopup" CurrentPatientInfo="TogglePopup" CurrentPatientNameAndNumber="@currentPatientNameAndNumber" />
<DropDownMenu2 ShowPopup2="@showPopup2" OnClosePopup2="ClosePopup2" CurrentPatientInfo2="TogglePopup2" CurrentPatientNameAndNumber2="@currentPatientNameAndNumber2" />

<style>
    .title-background {
        background-color: #4c956a;
        text-align: center;
        padding: 30px; /* 調整上下 padding 來增加標題的高度 */
        margin-bottom: 10px;
        margin-top: 0;
    }

    .title-text {
        color: white;
        font-weight: bold;
        font-size: 3em; /* 調整標題字體大小 */
        padding: 10px; /* 調整內側 padding 來增加框框的大小 */
    }

    .section-title {
        font-weight: bold;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .table-container {
        height: 50px; /* 設置一個具體的高度值 */
        overflow-y: auto; /* 如果表格內容超過高度，顯示滾動條 */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #ddd;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    tr:hover {
        background-color: #ddd; /* 深灰色 */
    }

    tr.highlighted-row {
        background-color: #ddd; /* 深灰色 */
    }

    .s {
        background-color: #246ff1;
        color: white;
        border-radius: 5px;
    }

    .btnnn {
        background-color: #4f9855;
        color: white;
        border-radius: 5px;
    }

    .abc {
        background-color: #2073ec;
        color: white;
        border-radius: 10px;
        padding: 8px 20px;
    }
</style>


@code {
    [Parameter] public EventCallback<string> CurrentPatientInfo { get; set; }
    [Parameter] public EventCallback<string> CurrentPatientInfo2 { get; set; }


    private bool showPopup = false;
    private string currentPatientNameAndNumber = "";
    public async Task TogglePopup(String patientInfo)
    {
        currentPatientNameAndNumber = patientInfo;
        showPopup = !showPopup;
    }
    private void ClosePopup()
    {
        showPopup = false;
    }

    private bool showPopup2 = false;
    private string currentPatientNameAndNumber2 = "";
    public async Task TogglePopup2(string patientInfo)
    {
        currentPatientNameAndNumber2 = patientInfo;
        showPopup2 = !showPopup2;

        if (showPopup2)
        {
            showPopup = false; // 確保另一個彈出視窗關閉
        }

        await CurrentPatientInfo2.InvokeAsync(patientInfo); // 要加上這一行
        StateHasChanged();
    }
    private void ClosePopup2()
    {
        showPopup2 = false;
    }

    private string searchQuery = "";
    private string selectedOption = "";
    private List<Patient> patients = new List<Patient>
{
        new Patient { Id = "A123456789", Name = "張三", CaseNumber = "1001", Phone = "0912-345-678", Address = "地址1", FamilyMember = "家人1" },
        new Patient { Id = "B789012345", Name = "李四", CaseNumber = "1002", Phone = "0987-654-321", Address = "地址2", FamilyMember = "家人2" },
        new Patient { Id = "C456789012", Name = "王五", CaseNumber = "1003", Phone = "0933-333-333", Address = "地址3", FamilyMember = "家人3" },
        new Patient { Id = "D789012345", Name = "陳六", CaseNumber = "1004", Phone = "0987-654-322", Address = "地址4", FamilyMember = "家人4" },
        new Patient { Id = "E456789012", Name = "許七", CaseNumber = "1005", Phone = "0933-333-334", Address = "地址5", FamilyMember = "家人5" },
    };

    private List<Patient> filteredPatients = new List<Patient>();

    private void EditPatient(Patient patient)
    {
        NavigationManager.NavigateTo($"/newdata/{patient.Id}");
    }

    private void ViewPatient(Patient patient)
    {
        NavigationManager.NavigateTo($"/record/{patient.Id}");
    }

    protected override void OnInitialized()
    {
        filteredPatients = patients;
    }



    private void Search()
    {
        if (!string.IsNullOrWhiteSpace(searchQuery))
        {
            filteredPatients = patients
                .Where(p => p.Id.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                        p.Name.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                        p.CaseNumber.Contains(searchQuery, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
        else
        {
            filteredPatients = patients;
        }
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Search();
        }
    }

    public class Patient
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public string CaseNumber { get; set; }
        public string Phone { get; set; }
        public string Address { get; set; }
        public string? FamilyMember { get; set; }

        public string CurrentPatientNameAndNumber => $"{Name} - {CaseNumber}";
        public string CurrentPatientNameAndNumber2 => $"{Name} - {CaseNumber}";
        public string GoogleMapLink => $"https://www.google.com/maps?authuser=0";

    }

    @inject NavigationManager NavigationManager
    private NavigationManager Navigation { get; set; }
    private void NavigateToOtherPage1()
    {
        if (NavigationManager != null)
        {
            NavigationManager.NavigateTo("/editdata");
        }
    }
    private void NavigateToOtherPage3()
    {
        if (NavigationManager != null)
        {
            NavigationManager.NavigateTo("/evaluation");
        }
    }

    private void NavigateToHomePage()
    {
        NavigationManager.NavigateTo("/home");
    }
    private void AddFile()
    {
        NavigationManager.NavigateTo("/newdata");
    }


}
